*{
    padding: 0;
    margin: 0;
}
body {
  height: 100vh;
  display: flex;
  background-color: #0c0430;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: animate-bg 15s infinite; */
}
.container {
  margin: auto;
  padding: 5%;
  width: 60vw;
  height: 80vh;
  /*outline: 1px solid red;*/
  border: 20px solid transparent;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Open Sans", "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: 1em;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#000, #000),
    linear-gradient(270deg, #00d7b9, #b95dd7 50%, #ffb367 100%);

  background-repeat: no-repeat;
  background-origin: padding-box, border-box;
  text-align: center;
  animation: unblur 3s;
}

body {
  min-height: 100%;
  overflow: hidden;
}

.word-wrapper {
  font-family: arial;
  display: inline-block;
  margin: 0 auto;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25vw;
  line-height: 120%;
  padding: 300px 0;
  animation: bg 20s linear infinite;

  background: linear-gradient(
    90deg,
    rgba(150, 48, 30, 1) 0%,
    rgba(199, 201, 88, 1) 10%,
    rgba(28, 147, 46, 1) 20%,
    rgba(74, 165, 168, 1) 30%,
    rgba(89, 90, 165, 1) 40%,
    rgba(84, 16, 67, 1) 50%,
    rgba(28, 58, 63, 1) 60%,
    rgba(82, 175, 183, 1) 70%,
    rgba(78, 170, 76, 1) 80%,
    rgba(150, 48, 30, 1) 90%,
    rgba(199, 201, 88, 1) 100%
  );
  background-size: 1000% 100%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span {
  display: block;
}
span:nth-child(1) {
  font-size: 214%;
  line-height: 85%;
  text-indent: -0.33em;
}
span:nth-child(2) {
  font-size: 292%;
  line-height: 69%;
  word-spacing: -0.2em;
  text-indent: -0.07em;
}
span:nth-child(3) {
  font-size: 194%;
  line-height: 85%;
  text-indent: -0.33em;
}
@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


#c1{
    display: none;
}

#c2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    position: absolute;
    height: 100vh;
    width: 100vw;
    color: #b95dd7;
    font-size: 250px;
    font-family: sans-serif;
}

@keyframes unblur {
    0%{
        opacity: 0;
        filter: blur(15px);
    }
    100%{
        opacity: 1;
        filter: blur(0px);
    }
}
